<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Float Layout</title>
        <link rel="stylesheet" href="css/float.css">
    </head>

    <body>
        <header>HEADER</header>

        <div class="container">
            <section class="box">LEFT</section>
            <section class="box">CENTER</section>
            <section class="box">RIGHT</section>
        </div>

        <footer>FOOTER</footer>
    </body>

</html>