<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout Three</title>
        <link rel="stylesheet" href="css/layout3.css">
    </head>

    <body>
        <header></header>
        <section class="equal"></section>
        <section class="different"></section>
        <section class="equal"></section>
        <section class="equal"></section>
        <footer></footer>
    </body>

</html>