.container {
  height: 100vh;
  display: flex;
}

.box-1 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
}

.box-2 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
}

.box-3 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
}
