.container {
  height: 100vh;
  display: flex;
  gap: 25px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.box-1 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.box-2 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-shrink: 5;
}

.box-3 {
  width: 140px;
  height: 140px;
  background-color: skyblue;
  border: 2px solid black;
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
