/* Reset default margins and paddings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center everything */
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #2b2f33;
}

/* Full width header */
header,
footer {
  background: #ddd;
  padding: 20px;
  width: 100%;
}

/* Container for the three columns */
.container {
  width: 100%;
  overflow: hidden; /* Clears floats */
  padding: 20px 0;
}

/* Three columns */
.box {
  background: #ddd;
  float: left;
  width: 32%; /* Adjust for spacing */
  margin: 0 0.5%;
  padding: 60px 0; /* Adjust height */
}
