* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 3px solid lime;
  clear: both;
}

.equal {
  height: 300px;
  border: 3px solid lime;
  width: 20%;
  float: left;
}

.different {
  height: 300px;
  border: 3px solid lime;
  width: 40%;
  float: left;
}
