* {
  box-sizing: border-box;
}

header,
footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}

section {
  height: 150px;
  border: 2px solid black;
  width: 33.33%;
  float: left;
}

article {
  height: 200px;
  border: 2px solid black;
  width: 50%;
  float: left;
}
