/* Tells the browser to ignore borders */
* {
  box-sizing: border-box;
}

/* Header and footer */
header,
footer {
  height: 100px;
  /* background: rebeccapurple; */
  border: 3px solid black;
  clear: both;
}

/* Sections */
section {
  height: 300px;
  width: 33.33%;
  border: 3px solid black;
  float: left;
}
